 /* general style */
 .nopadding {
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.header-light-content {
  justify-content: flex-start !important;
}

@media (max-width: 768px) {
  .header-light .header-light-content h1 {
    margin-top: 0 !important;
  }

  .nopadding {
    padding: 0 !important;
    margin: 0 !important;
  }
}