/* Stylesheet for the "publications" and "publications-more" blocks */

.publications-recent {
  background: #fafafa;
  min-height: 45vh;
  display: grid;
  grid-template-rows: 4em 1fr 3em;
  grid-template-columns: 50% 50%;
  font-size: .9em;
}
@media (resolution:100dpi), (min-resolution: 100dpi), (-webkit-min-resolution: 100dpi) {
.publications-recent {
  min-height:30vh;
}
}
.publications-recent > h3 {
  grid-row: 1;
  grid-column: 1 / 3;
  white-space: nowrap;
}
/* thumbnail */
.publications-recent > div > a > img {
  min-width: 2vw;
  max-width: 90%;
  margin-top: 1vh;
  align: center;
}
/* general layout using css-grid */
.publications-recent > div:nth-of-type(1) {
  grid-row: 2;
}
.publications-recent > div:nth-of-type(2) {
  grid-row: 2;
}
.publications-recent div {
  min-width: 7vw;
}
/* some css */
.publications-recent > div > a {
  overflow: hidden;
  text-decoration: none;
  display: block;
  height: max-content;
  width: auto;
  transition: all .3s linear;
  padding: 0.3vh;
  filter: drop-shadow(30px 10px 4px #fff);
  }
.publications-recent > div > a:hover {
  text-decoration: none;
  color: #000;
  background: #f4f4f4;
}
.publications-recent > div > a > h5 {
  text-decoration: underline #ff0000;
}
.publications-recent > div > a:hover > h5 {
  text-decoration: underline #000;
  color: #ff0000;
}
.publications-recent > a {
  grid-row: 3;
  grid-column: 2;
  border: solid 1px #ff0000;
  border-bottom: none;
  border-right: none;
  right: 0;
  bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  width: 80%;
  font-size: 0.9em;
  transition: all .5s;
  overflow: hidden;
  text-align: center;
  background: #f4f4f4;
}
.publications-recent > a:hover {
  border: 1px solid #000;
  border-bottom: none;
  border-right: 0;
}
/*
More publications
*/
.publications-more > ul > li {
  height: auto;
}
.publications-more {
  background: #fafafa;
  min-height: 40vh;
  overflow: hidden;
}
@media (resolution:100dpi), (min-resolution: 100dpi), (-webkit-min-resolution: 100dpi) {
.publications-more {
  min-height:30vh;
}
.publications-li-less > a {
  margin-bottom: 0!important;
}
}
.ctn-img {
  width:5vw;
  height:5vw;
  overflow: hidden;
}
.publications-more > ul > li > a {
  margin-left: 0.5vw;
  text-decoration: none;
}
.publications-more > ul > li:not(.publications-li-less) > a {
  min-height: 3vw;
  max-height: 10vw;
  height: 5vw;
}
.publications-more > ul > li > a > p {
  text-decoration: none;
}
.publications-more > ul > li > a > p:after {
  content: '...';
}
.publications-more > ul > li > a > div > img  {
  grid-row: 1 / 2;
  grid-column: 1;
  height: 5vw;
  transition: background .5s;
}
.publications-more > ul > li:hover > a > div > img {
  filter: contrast(150%);
}
.publications-more > ul > li > a {
  display: grid;
  grid-template-columns: 5vw 1fr;
  grid-template-rows: 3vh 5vh;
  grid-gap: 10px;
  margin-bottom: 3vh;
}
.publications-more > ul > li > a > h5 {
  margin: 0;
  text-decoration: underline #ff0000;
  grid-column: 2;
  grid-row: 1;
}
.publications-more > ul > li:hover > a > h5 {
  text-decoration: underline #242424;
  color: #ff0000;
}
.publications-more > ul > li > a > p {
  font-size: .8em;
  grid-column: 2;
  grid-row: 2;
  margin-top: .3vh;
}
.publications-more > ul > li > a:hover {
  color: #242424;
}
.publications-more > ul > li:hover {
  background: #f4f4f4;
}
.publications-more > ul > li {
    transition: background .3s linear;
}
.publications-li-less > a > h5 {
  grid-column: 1 / 2!important;
  min-width: 25vw;
}
.publications-li-less > a > p {
  grid-column: 1 / 2!important;
  min-width: 25vw;
}
.publications-li-less a {
min-height: 3vw;
max-height: 8vw;
grid-template-rows: minmax(min-content, max-content) minmax(min-content, 5vh);
grid-gap: 0!important;
}
/* publication-nav */
#pub-1 {
  visibility: visible;
}
#pub-2 {
  visibility: hidden;
  position: absolute;
  top: 46.4px;
}
#pub-3 {
  visibility: hidden;
  position: absolute;
  top: 46.4px;
}
#pub-4 {
  visibility: hidden;
  position: absolute;
  top: 46.4px;
}
#pub-5 {
  visibility: hidden;
  position: absolute;
  top: 46.4px;
}
#nav-pub-buttons button:nth-of-type(1) {
  margin-left: 0;
  background: #ff0000;
  color: #fff;
}
#nav-pub-buttons button {
  height: 3vh;
  background: none;
  border: none;
  margin-left: 2vw;
  color: #000;
  border-radius: 10%;
  margin-bottom: 2vh;
}

#nav-pub-buttons button:hover {
  border: #ff0000 1px solid;
}
#nav-pub-buttons {
  display: flex;
  justify-content: center;
}
#nav-pub-buttons button:nth-of-type(1) {
  margin-left: 0;
  background: #ff0000;
  color: #fff;
}
#nav-pub-buttons button {
  height: 3vh;
  background: none;
  border: none;
  margin-left: 2vw;
  color: #000;
  border-radius: 10%;
  margin-bottom: 2vh;
}

#nav-pub-buttons button:hover {
  border: #ff0000 1px solid;
}
#nav-pub-buttons {
  display: flex;
  justify-content: center;
}
/* responsive */
@media handeld, (max-width: 940px), (max-aspect-ratio: 1/1) {
  .publications-recent {
    width: 90vw;
  }
  .publications-recent div {
    width: 40vw;
  }
  .publications-recent > div img {
    width: 30vw;
  }
  .publications-more > ul > li > a:first-of-type {
  grid-template-columns: 16vw 74vw;
  grid-template-rows: 5vh 15vh;
  padding-bottom: 3vh;
  width: 60vw;
  }
  .publications-more > ul > li {
    min-height: 15vh;
    margin-bottom: 2vh;
  }
  .publications-more {
  width: 90vw;
  min-height: 40vh;
}
 .ctn-img {
   width: 15vw;
   height: 15vw;
 }
.publications-more > ul > li > a > div > img  {
  height: 15vw;
  transition: background .5s;
}
.publications-more > ul > li > a > h5 {
  margin-left: 1vw;
}
.publications-more > ul > li > a > p  {
  margin-left: 1vw;
  width: 60vw;
  font-size: .70em;
}
.publications-more > ul > li > a > h5  {
  height: 5vh;
  font-size: .80em;
  width: 55vw;
}
.publications-li-less {
  height: auto;
  min-height: auto!important;
}
.publications-li-less h5 {
  height: auto!important;
}
.publications-li-less a {
 display: inline!important;
 margin-left: 0!important;
}
#nav-pub-buttons {
  width: 90vw;
}
#nav-pub-buttons button {
  height: 5vh;
}
}
