.read-more-state {
  display: none;
}
.read-more {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .3s ease;
  hyphens: auto;
  z-index: 999;
}
.read-more-state:checked ~ .read-more {
  opacity: 1;
  font-size: inherit;
  max-height: 100vh;
  padding: 5px;
  background: #fff;
  filter: drop-shadow(12px 7px 4px #f4f4f4);
  margin-bottom: 12px;
  }

.read-more-state ~ .read-more-trigger:before {
  content: 'Read more v';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Read less ʌ';
}
.read-more-trigger:hover {
  background: #f0f0f0;
  box-shadow:  0 0 0 #dddddd,
               0 0 0 #ffffff,
                1px 1px 5px #dddddd inset,
                -1px -1px 5px #ffffff inset;
  transition-property: box-shadow;
  transition: .2s;
  }
.read-more-state:checked + .readmore {
  background-color: red!important;
  color: red!important;
}
.read-more-state:checked
.read-more-trigger {
  box-shadow:  5px 5px 10px #d5d5d5,
             -5px -5px 10px #ffffff;
  margin-top: 0.5vh;
  z-index: 9999;
  cursor: pointer;
  display: inline-block;
  padding: .1em .2em;
  color: #0c0c0c;
  font-size: .8em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  border-radius: .25em;
  transition: box-shadow .2s;
}
@media handeld, (max-width: 940px), (max-aspect-ratio: 1/1) {
  .read-more-trigger {
  padding: 7px;
  margin: 1vh 0 3vh 0;
  }
}
