 /* general style */

 body {
   overflow-x: hidden;
 }

 .nopadding {
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.withpadding {
  padding: 10%;
}

header {
  position: relative;
}

.header-light-content {
  justify-content: flex-start !important;
}

@media (max-width: 992px) {
  .header-light .header-light-content .logo{
    margin: 0 !important;
  }

  .nopadding {
    padding: 0 !important;
    margin: 0 !important;
  }
}

.header-light .logo {
  border: none;
  padding-right: 0;
  margin-right: 0;
}

.image-faculity {
  width: 140px !important;
  position: relative;
  bottom: -0.9rem;
}

dt {
  min-width: 160px;
}


.footer-light .image-faculity {
  bottom: 0;
}

.block {
  margin-top: 2rem;
}

hr {
  margin: 0;
}

@media (max-width: 992px) {
  hr {
    margin: 2rem;
  }

  h3  {
    font-size: 2rem;
  }
}