.publications,
.news {
  padding-top: 2rem;
  margin-top: 2rem;
  background: #e6e6e6;
}

.news {
  background: #fff;
}

.poster .list-group-teaser-thumbnail {
  flex: auto;
}

.poster .list-group-teaser-thumbnail,
.poster .list-group-teaser-thumbnail picture {
 width: 100%;
}